@{
    ViewBag.Name = "Impressum";
    ViewBag.Title = "e-Mensa - Impressum";
    ViewBag.Description = "Das Impressum der beliebten E-Mensa der FH Aachen.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head {
    <meta http-equiv="refresh" content="3; URL=Home">
}

<h2 class="middleElement20"> Weiterleitung erfolgt...</h2>